<div class="first-input">
  <input type="checkbox">BEV Program?</div>


<div class="input-fields">
  <div class="flex flex-column gap-2">
    <label for="modelyear">ModelYear: <span>&#42;</span></label>
    <input pInputText id="modelyear"   />
  </div>
  <div class="flex flex-column gap-2">
    <label for="vehicle">Vehicle Program code:<span>&#42;</span></label>
    <input pInputText id="vehicle" aria-describedby="username-help"  />
  </div>
  <div class="flex flex-column gap-2">
    <label for="nameplate">Nameplate:<span>&#42;</span></label>
    <input pInputText id="nameplate" aria-describedby="username-help"  />
  </div>

  <div class="flex flex-column gap-2">
    <label for="engine">Engine Displacement:<span>&#42;</span></label>
    <input pInputText id="engine" aria-describedby="username-help"  />
  </div>
  <div class="flex flex-column gap-2">
    <label for="transmission">Transmission:<span>&#42;</span></label>
    <input pInputText id="transmission" aria-describedby="username-help"  />
  </div>
  <div class="flex flex-column gap-2">
    <label for="mp1Date">Vehicle MP1 Date:</label>
    <p-calendar id="mp1date" [showIcon]="true"></p-calendar>
  </div>

</div>





<div class="card">
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines">
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"

    <ng-template pTemplate="header">
      <tr class="t-data">
        <!--      <th style="width: 4rem"></th>-->
        <th rowspan="2">Actions</th>
        <th pSortableColumn="modelYear">MY<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="vehicelprogramcode">Vehicle program code <p-sortIcon field="vehicleprogramcode"></p-sortIcon></th>
        <th pSortableColumn="namePlate">Nameplate <p-sortIcon field="nameplate"></p-sortIcon></th>
        <th pSortableColumn="engineDisplacement">Engine Displacement <p-sortIcon field="enginedisplacement"></p-sortIcon></th>
        <th pSortableColumn="Transimisson">Transmission <p-sortIcon field="transimisson"></p-sortIcon></th>
        <th pSortableColumn="driveline">Driveline <p-sortIcon field="driveline"></p-sortIcon></th>
        <th pSortableColumn="batterypacktype">Battery Pack Type <p-sortIcon field="batterypacktype"></p-sortIcon></th>
        <th pSortableColumn="vehiclemp1date">Vehicle Mp1 Date <p-sortIcon field="vehiclemp1date"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>

      </tr>
      <tr class="t-data">
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>
        <th><p-columnFilter type="text" field="modelYear">--Show All--</p-columnFilter> </th>



      </tr>
      <tr>
       <td></td>
      </tr>
    </ng-template>



    <ng-template pTemplate="body" let-product >

      <tr class="t-data">
        <td>{{product.actions}}</td>
        <td>{{product.modelYear}}</td>
        <td>{{product.vehicleProgramCode}}</td>
        <td>{{product.namePlate}}</td>
        <td>{{product.engineDisplacement}}</td>
        <td>{{product.Transmission}}</td>
        <td>{{product.driveline}}</td>
        <td>{{product.batterypacktype}}</td>
        <td>{{product.vehiclemp1date}}</td>
        <td>{{product.status}}</td>

      </tr>


    </ng-template>

  </p-table>
</div>
